@media only screen and(max-width: 768px){

}
/*------------------------modal window--------------------*/

.wrapper_modal{
    max-width: 688px;
    margin: 0 auto;
}

  #modal_background{
      background-color:mediumvioletred;
  }
  #header_modal{
   display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-left: 2rem;
      margin-right: 2rem;
      padding-top: 2rem;
      align-items: center;
      margin-bottom: 18.8125rem;
  }
#header_nav_modal li{
    list-style: none;
    margin-top: 1.5rem;

}
   #header_nav_modal a{
       text-decoration: none;
       font-family: var(--font-family);
       font-weight: 900;
       font-size: 24px;
       line-height: 125%;
       color: var(--black);

   }
  #btn_close{
      width: 48px;
      height: 48px;
      border-radius:50%;
      background-color: var(--white);
      border: none;
      font-weight: 400;
      font-size: 18px;
      text-align: center
  }
#modal_menu{
    display: flex;
    flex-direction: column;
    width: max-content;
}

.btn_order_modal{
    border-radius: 4px;
    padding: 8px;
    width: 184px;
    height: 48px;
    border: none;
    background-color: white;
    margin-left: 2.5rem;
    margin-bottom:3.5rem ;
    margin-top: 18.8125rem;
}

.modal_logo{
    position: relative;
   /* margin-top: -300px;*/
    margin-left:45%;
    margin-top: -750px;
    padding-bottom: 344px;

}
.modal_logo img{
    max-width: 344px;
    max-height: 414px;

}